{% extends "cushion/base.html" %}

{% block content %}
{% block object-tools %}
<ul class="object-tools">
    <li><a href="?compact=1">Compact Database</a></li>
    <li><a href="?empty=1">Empty Database</a></li>
    <li><a href="?delete=1">Delete Database</a></li>
</ul>
{% endblock %}

<h2>Views</h2>

<ol>
    <li><a href="{% url cushion_view database_name "_all_docs" %}">All Documents</a></li>
    <li>
        Design Documents
        <dl>
        {% for design_doc, views in views_by_design_doc.items %}
            <dt>{{ design_doc }}</dt>
            <dd>
                <ul>
                {% for view in views %}
                    <li><a href="{% url cushion_view database_name design_doc view %}">{{ view }}</a></li>
                {% endfor %}
                </ul>
            </dd>
        {% endfor %}
        </dl>
    </li>
</ol>

<h2>Import Data</h2>

{% if errors %}
    <div class="errornote" style="height: 300px; overflow: auto;">
        <h3>Invalid Data</h3>

        <p>The following rows couldn't be saved:</p>
        <dl>
        {% for doc, error in errors %}
            <dt><pre>{{ doc|pprint }}</pre></dt>
            <dd>{{ error }}</dd>
        {% endfor %}
        </dl>
    </div>
{% endif %}

<form method="post" action="" enctype="multipart/form-data">{% csrf_token %}
{{ form.as_p }}
<p><input type="submit" value="Import" /></p>
</form>
{% endblock %}
