{% extends "cushion/base.html" %}

{% block content %}
<h2>Views</h2>

<ol>
    <li><a href="{% url cushion_view database_name "_all_docs" %}">All Documents</a></li>
    <li>
        Design Documents
        <dl>
        {% for design_doc, views in views_by_design_doc.items %}
            <dt>{{ design_doc }}</dt>
            <dd>
                <ul>
                {% for view in views %}
                    <li><a href="{% url cushion_view database_name design_doc view %}">{{ view }}</a></li>
                {% endfor %}
                </ul>
            </dd>
        {% endfor %}
        </dl>
    </li>
</ol>
{% endblock %}
