{% extends "cushion/base.html" %}

{% block content %}
{% block object-tools %}
<ul class="object-tools">
    <li><a href="?add=1" class="addlink">Add Document</a></li>
    <li><a href="?compact=1">Compact Database</a></li>
    <li><a href="?empty=1">Empty Database</a></li>
    <li><a href="?delete=1">Delete Database</a></li>
</ul>
{% endblock %}

{% if add_forms %}
    <h2>Add a Document</h2>

    {% if add_form %}
        <form action="?add=1&add_form={{ request.GET.add_form }}" method="post">{% csrf_token %}
        {{ add_form.as_p }}
        <p><input type="submit" name="save" value="Save Document" /> <input type="submit" name="save" value="Save and Add Another" /> or <a href="?">Cancel</a></p>
        </form>
    {% else %}
        <p>Choose which type of document to add:</p>
        <ul>
        {% for name, form in add_forms.items %}
            <li><a href="?add=1&add_form={{ name }}">{{ name }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
{% endif %}

<h2>Views</h2>

<ol>
    <li><a href="{% url cushion_view database_name "_all_docs" %}">All Documents ({{ database_info.doc_count }})</a></li>
    <li>
        Design Documents
        <dl>
        {% for design_doc, views in views_by_design_doc.items %}
            <dt>{{ design_doc }}</dt>
            <dd>
                <ul>
                {% for view in views %}
                    <li><a href="{% url cushion_view database_name design_doc view %}">{{ view }}</a></li>
                {% endfor %}
                </ul>
            </dd>
        {% endfor %}
        </dl>
    </li>
</ol>

<h2>Import Data</h2>

{% if errors %}
    <div class="errornote" style="height: 300px; overflow: auto;">
        <h3>Invalid Data</h3>

        {% with errors|length as num_errors %}
            <p>The following {{ num_errors }} row{{ num_errors|pluralize }} couldn't be saved:</p>
        {% endwith %}
        <dl>
        {% for doc, error in errors %}
            <dt><pre>{{ doc|linebreaks|pprint }}</pre></dt>
            <dd>{{ error|linebreaks }}</dd>
        {% endfor %}
        </dl>
    </div>
{% endif %}

<form method="post" action="" enctype="multipart/form-data">{% csrf_token %}
{{ form.as_p }}
<p><input type="submit" value="Import" /></p>
</form>
{% endblock %}
