{% extends "cushion/base.html" %}

{% block parentcrumbs %}
 &rsaquo; <a href="{% url cushion_database database_name %}">{{ database_name }}</a></li>
{% with request.session.last_couchdb_view as view %}
    {% if view.name %}
         {% if view.name == "_all_docs" %}
             &rsaquo; <a href="{% url cushion_view database_name view.name %}?page={{ view.page }}">{{ view.name }}</a></li>
         {% else %}
             &rsaquo; <a href="{% url cushion_view database_name view.design_doc_name view.name %}?page={{ view.page }}">{{ view.name }}</a></li>
         {% endif %}
    {% endif %}
{% endwith %}
</ol>
{% endblock %}

{% block content %}
<form method="post" action="">{% csrf_token %}
{{ form.as_p }}
<p><input type="submit" /></p>
</form>

{% if attachments %}
    <h2>Attachments</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Size</th>
        </tr>
    {% for name, info in attachments.items %}
        <tr>
            <td><a href="{{ couchdb_server }}/{{ database_name }}/{{ document_id }}/{{ name }}">{{ name }}</a></td>
            <td>{{ info.content_type }}</td>
            <td>{{ info.length }}</td>
        </tr>
    {% endfor %}
    </table>
{% endif %}
{% endblock %}
