{% extends "cushion/base.html" %}

{% block parentcrumbs %}
 &rsaquo; <a href="{% url cushion_database database_name %}">{{ database_name }}</a></li>
{% with request.session.last_couchdb_view as view_name %}
    {% if view_name %}
         &rsaquo; <a href="{% url cushion_view database_name view_name %}?page={{ request.session.last_couchdb_page }}">{{ view_name }}</a></li>
    {% endif %}
{% endwith %}
</ol>
{% endblock %}

{% block content %}
<form method="post" action="">{% csrf_token %}
{{ form.as_p }}
<p><input type="submit" /></p>
</form>
{% endblock %}
