{% extends "cushion/base.html" %}

{% block menu %}{% endblock %}

{% block content %}
<h2>Databases</h2>
<table border=1>
    <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Number of Documents</th>
        <th>Update Sequence</th>
    </tr>
{% for database in databases %}
    <tr>
        <td><a href="{% url cushion_database database.db_name %}">{{ database.db_name }}</a></td>
        <td>{{ database.disk_size }}</td>
        <td>{{ database.doc_count }}</td>
        <td>{{ database.update_seq }}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}
