{% extends "cushion/base.html" %}

{% block parentcrumbs %}
 &rsaquo; <a href="{% url cushion_database database_name %}">{{ database_name }}</a>
{% endblock %}

{% block content %}
{% block object-tools %}
<ul class="object-tools">
    {% if request.GET.include_docs == "true" %}
        <li><a href="?include_docs=false">Don't include docs</a></li>
    {% else %}
        <li><a href="?include_docs=true">Include docs</a></li>
    {% endif %}

    {% if request.GET.group == "true" %}
        <li><a href="?group=false">Don't group</a></li>
    {% else %}
        <li><a href="?group=true">Group</a></li>
    {% endif %}

    {% if request.GET.reduce == "true" %}
        <li><a href="?reduce=false">Don't reduce</a></li>
    {% else %}
        <li><a href="?reduce=true">Reduce</a></li>
    {% endif %}
</ul>
{% endblock %}

<h2>Documents</h2>

<ol class="menu">
{% if startkey %}
    <li>&lsaquo; <a href="?descending=true&startkey={{ startkey }}&startkey_docid={{ startkey_docid }}&{{ query_string }}">Previous</a></li>
{% endif %}

    {% if total_rows < offset|add:limit %}
        <li>Showing {{ offset|add:"1" }}&ndash;{{ total_rows }} of {{ total_rows }} rows</li>
    {% else %}
        <li>Showing {{ offset }}&ndash;{{ offset|add:limit }} of {{ total_rows }} rows</li>
    {% endif %}

{% if next_startkey %}
    <li><a href="?startkey={{ next_startkey }}&startkey_docid={{ next_startkey_docid }}&{{ query_string }}">Next &rsaquo;</a></li>
{% endif %}
</ol>

<table>
    <tr>
        <th>Key</th>
        <th>Value</th>
        <th>ID</th>
        {% if request.GET.include_docs == "true" %}
            <th>Document</th>
        {% endif %}
    </tr>
{% for document in documents %}
    <tr>
        <td>
        {% if document.id %}
            <a href="{% url cushion_document database_name document.id %}">{{ document.key }}</a>
        {% else %}
            {{ document.key }}
        {% endif %}
        </td>
        <td>{{ document.value }}</td>
        <td>{{ document.id }}</td>
        {% if request.GET.include_docs == "true" %}
            <td>{{ document.doc|pprint }}</td>
        {% endif %}
    </tr>
{% endfor %}
</table>

{% if form %}
    <h2>Form for {{ key }}</h2>
    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save" />
    </form>
{% endif %}

{% endblock %}
