{% extends "cushion/base.html" %}

{% block parentcrumbs %}
 &rsaquo; <a href="{% url cushion_database database_name %}">{{ database_name }}</a>
{% endblock %}

{% block content %}
{% block object-tools %}
<ul class="object-tools">
    {% if request.GET.include_docs == "true" %}
        <li><a href="?include_docs=false">Don't include docs</a></li>
    {% else %}
        <li><a href="?include_docs=true">Include docs</a></li>
    {% endif %}

    {% if request.GET.group == "true" %}
        <li><a href="?group=false">Don't group</a></li>
    {% else %}
        <li><a href="?group=true">Group</a></li>
    {% endif %}

    {% if request.GET.reduce == "true" %}
        <li><a href="?reduce=false">Don't reduce</a></li>
    {% else %}
        <li><a href="?reduce=true">Reduce</a></li>
    {% endif %}
</ul>
{% endblock %}

<h2>Documents</h2>

<ol class="menu">
{% if page != 1 %}
    <li>&laquo; <a href="?skip=0&{{ query_string }}">First</a></li>
{% endif %}
{% if previous_page != None %}
    <li>&lsaquo; <a href="?skip={{ previous_page }}&{{ query_string }}">Previous</a></li>
{% endif %}
    <li>Page {{ page }} of {{ num_pages }}</li>
{% if next_page != None %}
    <li><a href="?skip={{ next_page }}&{{ query_string }}">Next &rsaquo;</a></li>
{% endif %}
{% if page != num_pages %}
    <li><a href="?skip={{ last_page }}&{{ query_string }}">Last</a> &raquo;</li>
{% endif %}
</ol>

<table>
    <tr>
        <th>Key</th>
        <th>Value</th>
        <th>ID</th>
        {% if request.GET.include_docs == "true" %}
            <th>Document</th>
        {% endif %}
    </tr>
{% for document in documents %}
    <tr>
        <td>
        {% if document.id %}
            <a href="{% url cushion_document database_name document.id %}">{{ document.key }}</a>
        {% else %}
            {{ document.key }}
        {% endif %}
        </td>
        <td>{{ document.value }}</td>
        <td>{{ document.id }}</td>
        {% if request.GET.include_docs == "true" %}
            <td>{{ document.doc|pprint }}</td>
        {% endif %}
    </tr>
{% endfor %}
</table>
{% endblock %}
